<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DownloadFileURL" value="http://guvm.mvd.ru/upload/expired-passports/list_of_expired_passports.csv.bz2"/>
    <add key="EndingDownloadFilePath" value="\data\expiredPassports.bz2"/>
    <add key="EndingUnarchiveFilePath" value="\data\expiredPassportsData.cvs"/>

    <add key="DBSource" value="" />
    <add key="DBPassword" value="" />
    <add key="DBUserName" value=""/>
    <add key="TempTableName" value="#ActualData"/>
    <add key="DatabaseName" value="FMS"/>
    <add key="InstanceName" value="expiredpassports"/>
    <add key="ServerUrl" value=""/>
    <add key="Key" value=""/>  
      <add key="CountLoadetPerPageItems" value="10000"/>  
   <add key="CountThreads" value="5"/>
    <add key="CountUpdateItemsPerRequest" value="1500"/>
    
  </appSettings>
</configuration>